<section>
  <h2 class="example-title">Ejemplo 1 - Paginator por defecto</h2>
  <dcx-ng-paginator
    [itemsPerPage]="10"
    [totalItems]="100"
    [currentPageInput]="2"
    [disabled]="disabled"
    [isPrevButtonDisabled]="false"
    [isNextButtonDisabled]="false"
    (pageChange)="onPageChange($event)"
  >
  </dcx-ng-paginator>
</section>

<hr />

<section>
  <h2 class="example-title">
    Ejemplo 2 - Paginator con selector de elementos por página
  </h2>
  <dcx-ng-paginator
    [itemsPerPage]="getItemsPerPage()"
    [totalItems]="21"
    [currentPageInput]="2"
    [disabled]="disabled"
    [isPrevButtonDisabled]="false"
    [isNextButtonDisabled]="false"
    (pageChange)="onPageChange($event)"
  >
  </dcx-ng-paginator>
  <dcx-ng-select
    [options]="[{value: 5, label:'5'},{value: 10, label:'10'}, {value: 20, label:'20'}]"
    (valueChange)="itemsPerPageChange($event)"
  ></dcx-ng-select>
</section>
<hr />
<section>
  <h2 class="example-title">
    Ejemplo 2 - Paginator con selector de elementos por página
  </h2>
  <dcx-ng-paginator
    [itemsPerPage]="getItemsPerPage()"
    [totalItems]="21"
    [currentPageInput]="2"
    [disabled]="disabled"
    [isPrevButtonDisabled]="false"
    [isNextButtonDisabled]="false"
    (pageChange)="onPageChange($event)"
  >
  </dcx-ng-paginator>
  <dcx-ng-select
    [options]="[{value: 5, label:'5'},{value: 10, label:'10'}, {value: 20, label:'20'}]"
    (valueChange)="itemsPerPageChange($event)"
  ></dcx-ng-select>
</section>
