<section>
  <h2 class="example-title">Ejemplo 1 - Paginator por defecto</h2>
  <dcx-ng-paginator [paginator]="defaultPaginator"> </dcx-ng-paginator>
</section>

<hr />

<section>
  <h2 class="example-title">
    Ejemplo 2 - Paginator con selector de elementos por página
  </h2>
  <article class="paginator-control">
    <dcx-ng-paginator
      [paginator]="selectPerPage"
      [showItemsPerPageInfo]="true"
    />
  </article>
</section>
<hr />
<section>
  <h2 class="example-title">
    Ejemplo 3 - Paginator con navegación a la primera y ultima posición
  </h2>
  <dcx-ng-paginator [paginator]="limitedPaginator" [limitedButtons]="true" />
</section>

<hr />
<section>
  <h2 class="example-title">
    Ejemplo 4 - Conociendo la página del total seleccionada
  </h2>
  <article class="paginator-control">
    <dcx-ng-paginator
      [showPageInfo]="true"
      [paginator]="knowPageSelected"
      (pageChange)="onPageChange($event)"
      (totalPagesChange)="onTotalPagesChange($event)"
    />
  </article>
</section>
