:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;    
    width: 100vw;
    height: 100vh;
}

button {
    width: 150px;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-dark);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}