<section>
  <h2>Default component</h2>
  <dcx-ng-tooltip content="Este es mi tooltip">
    <dcx-ng-button label="Default"></dcx-ng-button>
  </dcx-ng-tooltip>
</section>

<hr />

<section>
  <h2>Tooltip positions</h2>

  <dcx-ng-tooltip content="Este es mi tooltip" position="top">
    <dcx-ng-button label="TOP"></dcx-ng-button>
  </dcx-ng-tooltip>

  <dcx-ng-tooltip content="Este es mi tooltip" position="bottom">
    <dcx-ng-button label="BOTTOM"></dcx-ng-button>
  </dcx-ng-tooltip>

  <dcx-ng-tooltip content="Este es mi tooltip" position="right">
    <dcx-ng-button label="RIGHT"></dcx-ng-button>
  </dcx-ng-tooltip>

  <dcx-ng-tooltip
    content="Este es mi tooltip, muy largo para que se divida en varias lineas"
    position="left"
  >
    <dcx-ng-button label="LEFT"></dcx-ng-button>
  </dcx-ng-tooltip>
</section>

<hr />

<section>
  <h2>Hide on click</h2>
  <dcx-ng-tooltip content="Este es mi tooltip" [hideTooltipOnClick]="true">
    <dcx-ng-button label="Hide on click"></dcx-ng-button>
  </dcx-ng-tooltip>
</section>
