<button (click)="openInfo()">Abrir diálogo</button>

<dcx-ng-dialog
  dialogId="info"
  [title]="'Información importante'"
  [showClose]="true"
  [position]="'center'"
  (closeDialog)="onInfoClosed()"
>
  <div dialog-body>
    <p>Este es un mensaje informativo dentro del diálogo.</p>
  </div>
</dcx-ng-dialog>

<button (click)="openConfirm()">Abrir confirmación</button>

<dcx-ng-dialog
  dialogId="confirm"
  [title]="'Confirmación'"
  [showClose]="false"
  [position]="'top-right'"
  (closeDialog)="onConfirmClosed()"
>
  <ng-template #dialogBody>
    <p>¿Estás seguro de que quieres continuar?</p>
  </ng-template>

  <ng-template #dialogFooter>
    <button (click)="handleCancel()">Cancelar</button>
    <button (click)="handleAccept()">Aceptar</button>
  </ng-template>
</dcx-ng-dialog>
