<section>
  <h2>Ejemplo 1 - Diálogo básico con información</h2>
  <dcx-ng-button
    label="Abrir diálogo"
    variant="primary"
    (buttonClick)="openInfo()"
  />

  <dcx-ng-dialog
    dialogId="info"
    [title]="mockData.title"
    [showClose]="mockData.showClose!"
    [position]="mockData.position!"
    [closeOnBackdrop]="mockData.closeOnBackdrop!"
  >
    <ng-template #dialogBody>
      <p>Este es un mensaje informativo dentro del diálogo.</p>
    </ng-template>
  </dcx-ng-dialog>
</section>

<dcx-ng-divider color="#0056b3" [thickness]="0.1" size="xl"></dcx-ng-divider>

<section>
  <h2>Ejemplo 2 - Diálogo de confirmación con footer</h2>
  <dcx-ng-button
    label="Abrir confirmación"
    variant="primary"
    (buttonClick)="openConfirm()"
  />

  <dcx-ng-dialog
    dialogId="confirm"
    [title]="mockData.title"
    [showClose]="mockData.showClose!"
    [position]="mockData.position!"
  >
    <ng-template #dialogBody>
      <p>¿Estás seguro de que quieres continuar?</p>
    </ng-template>

    <ng-template #dialogFooter>
      <dcx-ng-button
        label="Cancelar"
        variant="secondary"
        (buttonClick)="handleCancel()"
      />
      <dcx-ng-button
        label="Aceptar"
        variant="primary"
        (buttonClick)="handleAccept()"
      />
    </ng-template>
  </dcx-ng-dialog>
</section>

<dcx-ng-divider color="#0056b3" [thickness]="0.1" size="xl"></dcx-ng-divider>

<section>
  <h2>Ejemplo 3 - Diálogos posicionados</h2>
  <div id="positioned-dialogs">
    <button (click)="openPositioned('top-left')">&#8598;</button>
    <button (click)="openPositioned('top')">&#8593;</button>
    <button (click)="openPositioned('top-right')">&#8599;</button>
    <button (click)="openPositioned('left')">&#8592;</button>
    <button (click)="openPositioned('center')">&centerdot;</button>
    <button (click)="openPositioned('right')">&#8594;</button>
    <button (click)="openPositioned('bottom-left')">&#8601;</button>
    <button (click)="openPositioned('bottom')">&#8595;</button>
    <button (click)="openPositioned('bottom-right')">&#8600;</button>
  </div>

  <dcx-ng-dialog
    dialogId="positioned"
    [title]="mockData.title"
    [showClose]="mockData.showClose!"
    [position]="positionedDialogCurrentPosition()"
    [closeOnBackdrop]="mockData.closeOnBackdrop!"
  >
    <ng-template #dialogBody>
      <p>
        Este es un dialog posicionado con
        <strong>[position]="{{ positionedDialogCurrentPosition() }}"</strong>
      </p>
    </ng-template>
  </dcx-ng-dialog>
</section>
