<section>
  <h2 class="example-title">Ejemplo 1 - Horizontal</h2>
  <dcx-ng-slider
    [value]="sliders[0].value"
    [step]="sliders[0].step"
    [vertical]="sliders[0].vertical"
    (valueChange)="onSliderValueChange(0, $event)"
  >
  </dcx-ng-slider>
</section>

<hr />
<section>
  <h2 class="example-title">Ejemplo 2 - Vertical</h2>
  <dcx-ng-slider
    [value]="sliders[1].value"
    [step]="sliders[1].step"
    [vertical]="sliders[1].vertical"
    (valueChange)="onSliderValueChange(1, $event)"
  >
  </dcx-ng-slider>
  <p>{{ sliders[1].label }}: {{ sliders[1].value }}</p>
</section>

<hr />

<!-- <section>
  <h2>Slider demo</h2>
  <div class="slider-container">
    @for (slider of sliders; track $index) {
      <div>
        <dcx-ng-slider
          [valueInput]="slider.value"
          [step]="slider.step"
          [vertical]="slider.vertical"
          (valueChange)="onSliderValueChange($index, $event)"
        >
        </dcx-ng-slider>
        <p>{{ slider.label }}: {{ slider.value }}</p>
      </div>
    }
  </div>
</section> -->
