<section>
  <h2 class="example-title">Ejemplo 1 - Checkbox único</h2>
  <dcx-ng-checkbox [options]="singleCheck()" />
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 2 - Checkbox inválido</h2>
  <dcx-ng-checkbox [options]="errorCheck()" />
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 3 - Checkbox deshabilitado</h2>
  <dcx-ng-checkbox [options]="disabledCheck()" />
</section>

<hr />

<section>
  <h2 class="example-title">
    Ejemplo 3 - Checkbox con label en distintas posiciones
  </h2>
  <dcx-ng-checkbox [options]="diferentsLabelPositionsCheck()" />
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 4 - Checkbox requerido</h2>
  <dcx-ng-checkbox [options]="requiredCheck()" />
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 5 - Grupo de checkbox</h2>
  <dcx-ng-checkbox [options]="checkboxGroup()" />
</section>

<hr />
