@use './../../app.component.scss';

.context-area {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 2px dashed var(--border-default);
}