<section>
  <h2 class="example-title">Ejemplo 1</h2>
  <dcx-ng-input label="Input por defecto"></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 2 - Con placeholder</h2>
  <dcx-ng-input placeholder="Placeholder..."></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 3 - Con valor</h2>
  <dcx-ng-input value="Value"></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 4 - Deshabilitado</h2>
  <dcx-ng-input placeholder="Disabled" disabled></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 4 - Solo lectura</h2>
  <dcx-ng-input placeholder="Solo lectura" readonly></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 5 - Diferentes tipos</h2>
  <article style="display:flex; gap:12px; align-items:center; flex-wrap:wrap;">
    <dcx-ng-input label="Texto" [type]="DcxInputType.TEXT"></dcx-ng-input>
    <dcx-ng-input label="Numero" [type]="DcxInputType.NUMBER"></dcx-ng-input>
    <dcx-ng-input
      label="Contraseña"
      [type]="DcxInputType.PASSWORD"
    ></dcx-ng-input>
    <dcx-ng-input label="Búsqueda" [type]="DcxInputType.SEARCH"></dcx-ng-input>
  </article>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 6 - Requerido</h2>
  <dcx-ng-input
    label="Requerido"
    placeholder="Solo lectura"
    required
  ></dcx-ng-input>
</section>

<hr />

<section>
  <h2 class="example-title">Ejemplo 7 - Inválido</h2>
  <dcx-ng-input
    label="Inválido"
    placeholder="Solo lectura"
    isInvalid
    errorMessage="Error"
  ></dcx-ng-input>
</section>

<hr />
