:host {
  display: flex;
  box-sizing: border-box;
  gap: 10px;
}
.container {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.container1 {
  width: 300px;
  height: 200px;
  border: 1px solid #ff0000;
  padding: 10px;
}

.container2 {
  width: 700px;
  height: 200px;
  border: 1px solid #00ff00;
  padding: 10px;
}
