<div class="container">
  <dcx-ng-input
    label="tamaño s"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="true"
    [type]="InputType.TEXT"
    [size]="InputSize.SMALL"
    [errorMessages]="[{type: 'required', message: 'Este campo es obligatorio de rellenar'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño m"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="true"
    [type]="InputType.EMAIL"
    [size]="InputSize.MEDIUM"
    [errorMessages]="[{type: 'required', message: 'Este campo es obligatorio'}, {type: 'email', message: 'El formato de correo no es válido'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño default"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="true"
    [type]="InputType.NUMBER"
    [errorMessages]="[{type: 'required', message: 'Es obligatorio rellenar este campo'}, {type: 'pattern', message: 'El formato numérico no es válido'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño l"
    placeholder="Escriba algo... opcional"
    [disabled]="false"
    [required]="false"
    [type]="InputType.PASSWORD"
    [size]="InputSize.LARGE"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño xl"
    placeholder="Escriba algo... disabled"
    [disabled]="true"
    [required]="false"
    [type]="InputType.EMAIL"
    [size]="InputSize.EXTRA_LARGE"
    [errorMessages]="[{type: 'email', message: 'El formato de correo no es correcto'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="false"
    [type]="InputType.TEXT"
    [size]="InputSize.AUTO"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <h1>Valor del input</h1>
  <h2>{{ valor }}</h2>
</div>

<div class="container1">
  <h1>container 300px</h1>
  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="false"
    [type]="InputType.TEXT"
    [size]="InputSize.AUTO"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>
</div>

<div class="container2">
  <h1>container 700px</h1>
  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="false"
    [type]="InputType.TEXT"
    [size]="InputSize.AUTO"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>
</div>
