<div class="container">
  <!-- <dcx-ng-input
    label="tamaño s"
    placeholder="Escriba algo..."
    size="s"
    [disabled]="false"
    [required]="true"
    [type]="DcxInputType.TEXT"
    [errorMessages]="[{type: 'required', message: 'Este campo es obligatorio de rellenar'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño m"
    placeholder="Escriba algo..."
    size="m"
    [disabled]="false"
    [required]="true"
    [type]="DcxInputType.EMAIL"
    [errorMessages]="[{type: 'required', message: 'Este campo es obligatorio'}, {type: 'email', message: 'El formato de correo no es válido'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <dcx-ng-input
    label="tamaño default"
    placeholder="Escriba algo..."
    [disabled]="false"
    [required]="true"
    [type]="DcxInputType.NUMBER"
    [errorMessages]="[{type: 'required', message: 'Es obligatorio rellenar este campo'}, {type: 'pattern', message: 'El formato numérico no es válido'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input> -->

  <!-- <dcx-ng-input
    label="tamaño l"
    placeholder="Escriba algo... opcional"
    size="l"
    isInvalid
    [disabled]="false"
    [required]="false"
    [type]="DcxInputType.PASSWORD"
    (valueChange)="showValue($event)"
  ></dcx-ng-input> -->

  <!-- <dcx-ng-input
    label="tamaño xl"
    placeholder="Escriba algo... disabled"
    size="xl"
    [disabled]="true"
    [required]="false"
    [type]="DcxInputType.EMAIL"
    [errorMessages]="[{type: 'email', message: 'El formato de correo no es correcto'}]"
    (valueChange)="showValue($event)"
  ></dcx-ng-input> -->

  <!-- <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    size="auto"
    [disabled]="false"
    [required]="false"
    [type]="DcxInputType.TEXT"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>

  <h1>Valor del input</h1>
  <h2>{{ valor }}</h2>
</div>

<div class="container1">
  <h1>container 300px</h1>
  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    size="auto"
    [disabled]="false"
    [required]="false"
    [type]="DcxInputType.TEXT"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>
</div>

<div class="container2">
  <h1>container 700px</h1>
  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    size="auto"
    [disabled]="false"
    [required]="false"
    [type]="DcxInputType.TEXT"
    (valueChange)="showValue($event)"
  ></dcx-ng-input>
</div> -->
  <dcx-ng-input
    label="tamaño auto"
    placeholder="Escriba algo..."
    size="auto"
    [disabled]="false"
    [required]="false"
    [type]="DcxInputType.TEXT"
  ></dcx-ng-input>
</div>
