<div class="message-page">
  <div class="message-test-container">
    <h4>Simple message</h4>
    <dcx-ng-message body="Lorem Test Ipsum" [icon]="true"></dcx-ng-message>
  </div>

  <div class="message-test-container">
    <h4>Message with title</h4>
    <dcx-ng-message
      body="Lorem Test Ipsum"
      title="Titulo prueba"
      [icon]="true"
    ></dcx-ng-message>
  </div>

  <div class="message-test-container">
    <h4>Message success</h4>
    <dcx-ng-message
      body="Lorem Test Ipsum"
      type="success"
      [icon]="true"
    ></dcx-ng-message>
  </div>

  <div class="message-test-container">
    <h4>Message warning</h4>
    <dcx-ng-message
      body="Lorem Test Ipsum"
      type="warning"
      [icon]="true"
    ></dcx-ng-message>
  </div>

  <div class="message-test-container">
    <h4>Message error</h4>
    <dcx-ng-message
      body="Lorem Test Ipsum"
      type="error"
      [icon]="true"
    ></dcx-ng-message>
  </div>

  <div class="message-test-container">
    <h4>Message with link</h4>
    <dcx-ng-message
      body="Lorem Test Ipsum"
      link="https://www.google.com/"
      [icon]="true"
    ></dcx-ng-message>
  </div>
</div>
