<br />
<div class="container">
  <h2>Divider adaptable al contenedor</h2>

  <dcx-ng-divider
    class="spacer1"
    color="#0056b3"
    ariaLabel="Horizontal Divider Auto"
  ></dcx-ng-divider>

  <p>Este divider se adapta al 100% del ancho del contenedor</p>
</div>

<br />
<div class="container">
  <h2>Divider adaptable al contenedor</h2>

  <dcx-ng-divider
    class="spacer1"
    color="#0056b3"
    orientation="vertical"
    ariaLabel="Vertical Divider Auto"
  ></dcx-ng-divider>

  <p>Este divider se adapta al 100% del largo del contenedor</p>
</div>

<br />
<div class="container">
  <h2>Divider tipo dot</h2>
  <dcx-ng-divider class="spacer1" color="#0056b3" type="dot"></dcx-ng-divider>
  <p>Este divider se adapta al 100% del ancho del contenedor</p>
</div>

<br />
<div class="container">
  <h2>Divider tipo dot</h2>
  <dcx-ng-divider
    class="spacer1"
    color="#0056b3"
    type="dot"
    size="l"
  ></dcx-ng-divider>
  <p>Este divider es size L</p>
</div>
